.logo{
    color: #fff;
    padding: 30px 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .anticon{
        color: #55a8fd;
        margin-right: 10px;
        font-size: 30px;
    }
    span{
        font-size: 26px;
        font-weight: 500;
    }
}