.modal-full{
    overflow: hidden;
    .ant-modal{
        top:0;
        .ant-modal-content{
            width: 100vw;
            height: 100vh;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            .ant-modal-body{
                flex-grow: 1;
                overflow: auto;
            }
        }
    }
}