$font-size-base: .875rem; // 14px
$font-size-lg: 1.25rem; // 20px
$font-size-sm: .75rem; // 12px
// 扩展
$font-size-md: 1rem; // 16px
$font-size-max-lg: 3.25rem; // 补充字体大小 52px
$font-size-xs: .625rem; // 10px