<div class="form-designer-wrap">
    <div class="form-designer-header">
        <div class="title">表单设计器</div>
        <div class="action">
            <button nz-button nzType="primary" (click)="saveForm()" class="" nzSize="large">保存</button>
            <button nz-button nzType="default" (click)="cancelForm()">取消</button>
            <!-- <button nz-button nzType="primary" (click)="saveForm()" class="">预览</button> -->
        </div>
    </div>
    <div class="form-designer-body">
        <div class="form-designer-fields">
            <div class="field-title">可选控件</div>
            <div class="field-body">
                <div class="field-group">
                    <div class="field-group-title">
                        通用控件
                    </div>
                    <div class="field-group-body">
                        <ul class="field-list" [sortablejs]="fields" [sortablejsOptions]="fieldSortOptions" [sortablejsCloneFunction]="cloneFieldItem">
                            <li class="field-item" *ngFor="let item of fields;">
                                <i class="{{item.className}}"></i>{{item.label}}</li>
                        </ul>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field-group-title">
                        联系信息控件
                    </div>
                    <div class="field-group-body">
                        <ul class="field-list" [sortablejs]="fields" [sortablejsOptions]="fieldSortOptions">
                            <li class="field-item" *ngFor="let item of fields;">
                                <i class="{{item.className}}"></i>{{item.label}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-designer-properties">
            <div class="property-title" [ngClass]="{'active':isForm}" (click)="selectForm()">{{form.name}}</div>
            <div class="property-body" [sortablejs]="properties" [sortablejsOptions]="propertySortOptions">
                <div class="field-item-design" *ngFor="let item of properties;" (click)="selectProperty(item)" [ngClass]="{'active':item.selected}">
                    <form-field-design [field]="item"></form-field-design>
                </div>
            </div>
        </div>
        <div class="form-designer-settings">
            <div class="settings-title ">
                属性设置
            </div>
            <div class="settings-body">
                <div>
                    <form nz-form [nzLayout]="vertical" *ngIf="isForm">
                        <nz-form-item>
                            <nz-form-label nzFor="name">表单名称</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="form.name" name="name" type="text" placeholder="表单名称">
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzFor="name">描述</nz-form-label>
                            <nz-form-control>
                                <textarea row="3" [(ngModel)]="form.description" name="description" nz-input placeholder="表单描述"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzFor="name">对齐方式</nz-form-label>
                            <nz-form-control>
                                <nz-select [(ngModel)]="form.layout" nzAllowClear nzPlaceHolder="对齐方式" name="layout">
                                    <nz-option nzValue="horizontal" nzLabel="水平"></nz-option>
                                    <nz-option nzValue="vertical" nzLabel="垂直"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzFor="name">提交后跳转</nz-form-label>
                            <nz-form-control>
                                <nz-select [(ngModel)]="form.action" nzAllowClear nzPlaceHolder="提交后跳转" name="action">
                                    <nz-option nzValue="success" nzLabel="系统成功提示页"></nz-option>
                                    <nz-option nzValue="link" nzLabel="自定义链接"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item *ngIf="form.action === 'link'">
                            <nz-form-control>
                                    <input nz-input [(ngModel)]="form.href" name="href" type="text" placeholder="http://">
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                    <form nz-form [nzLayout]="vertical" *ngIf="!isForm">
                        <ng-container *ngFor="let item of properties;">
                            <form-field-setting *ngIf="item.selected" [field]="item" (changeField)="changeField($event)" #fieldSetting></form-field-setting>
                        </ng-container>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>