<div class="property-item">
    <nz-form-item>
        <nz-form-label nzFor="label">字段名称</nz-form-label>
        <nz-form-control>
            <input nz-input [(ngModel)]="field.label" (ngModelChange)="modalChange($event)" type="text" placeholder="字段名称">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="value">默认值</nz-form-label>
        <nz-form-control>
            <input nz-input [(ngModel)]="field.value" (ngModelChange)="modalChange($event)" type="text" placeholder="默认值">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nz-col [nzSpan]="24" nzFor="length">长度</nz-form-label>
        <nz-form-control nz-col [nzSpan]="11">
            <input nz-input [(ngModel)]="field.minLength" (ngModelChange)="modalChange($event)" type="text" placeholder="最小长度">
        </nz-form-control>
        <nz-form-control nz-col [nzSpan]="2" class="text-center"> - </nz-form-control>
        <nz-form-control nz-col [nzSpan]="11">
            <input nz-input [(ngModel)]="field.maxLength" (ngModelChange)="modalChange($event)" type="text" placeholder="最大长度">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="placeHolder">提示</nz-form-label>
        <nz-form-control>
            <input nz-input [(ngModel)]="field.placeHolder" (ngModelChange)="modalChange($event)" type="text" placeholder="提示">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="helpText">说明</nz-form-label>
        <nz-form-control>
            <input nz-input [(ngModel)]="field.helpText" (ngModelChange)="modalChange($event)" type="text" placeholder="说明">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="size">宽度</nz-form-label>
        <nz-form-control>
            <nz-select style="width: 100%;" [(ngModel)]="field.size" (ngModelChange)="modalChange($event)" nzAllowClear nzPlaceHolder="宽度">
                <nz-option nzValue="1" nzLabel="整行"></nz-option>
                <nz-option nzValue="2" nzLabel="整行的1/2"></nz-option>
                <nz-option nzValue="3" nzLabel="整行的1/3"></nz-option>
                <nz-option nzValue="4" nzLabel="整行的1/4"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label>设置</nz-form-label>
        <nz-form-control>
            <label nz-checkbox [(ngModel)]="field.required" (ngModelChange)="modalChange($event)">必填</label>
            <br/>
            <label nz-checkbox [(ngModel)]="field.repeat" (ngModelChange)="modalChange($event)">是否允许重复</label>
            <br/>
            <label nz-checkbox [(ngModel)]="field.disabled" (ngModelChange)="modalChange($event)">是否允许编辑</label>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <div nz-col [nzSpan]="12">
            <nz-form-label>设置</nz-form-label>
            <nz-form-control>
                <label nz-checkbox [(ngModel)]="field.required" (ngModelChange)="modalChange($event)">必填</label>
                <br/>
                <label nz-checkbox [(ngModel)]="field.repeat" (ngModelChange)="modalChange($event)">是否允许重复</label>
                <br/>
                <label nz-checkbox [(ngModel)]="field.disabled" (ngModelChange)="modalChange($event)">是否允许编辑</label>
            </nz-form-control>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-label>可见范围</nz-form-label>
            <nz-form-control>
                <nz-radio-group [(ngModel)]="field.security" (ngModelChange)="modalChange($event)">
                    <label nz-radio nzValue="public">公开</label>
                    <label nz-radio nzValue="private">私有</label>
                </nz-radio-group>
            </nz-form-control>
        </div>
    </nz-form-item>
</div>